* {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

.main {
    max-width: 1920px;
    display: flex;
}

.menu {
    width: 250px;
    display: inline-block;
    background-color: #111111;
}

.logo a img {
    width: 80px;
}

.content {
    background-color: #1d1d1d;
    width: 1670px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    list-style: none;
    padding: 30px;
}

li a {
    color: #b3b3b3;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
}

.search-input {
    background-color: #727272;
    color: #fff;
    width: 330px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #727272;
    border-radius: 4px;
    padding-left: 40px;
}

.search-input::placeholder {
    color: #fff;
}

.search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 13px;
}

header {
    margin-left: 852px;
    display: flex;
}

header img {
    width: 20px;
    margin-left: 30px;
}

header .icon {
    margin-top: 20px;
    height: 20px;
}

header .profile {
    margin-top: 5px;
    width: 50px;
}


.tune h2, h3, p{
    margin: 30px;
    color: #fff;
    text-align: center;
}
.tune h2{
    font-size: 60px;
    font-weight: bold;
}
.tune p{
    font-size: 14px;
}
.tune .tune_img{
    display: flex;
    text-align: center;
    margin-left: 300px;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 100px;
}
.tune .tune_img img{
    width: 250px;
    margin-top: 30px;
}
.tunning{
    margin-top: 60px;
}
.tunning img{
    margin-top: 30px;
}
.tunning_p{
    line-height: 180%;
}

footer {
    display: flex;
    align-items: center;
    background-color: #111111;
    padding: 30px;
}

footer .logo img {
    height: 40px;
    margin-left: 200px;
}

.footer-text {
    margin-left: 664px;
    font-size: 13px;
    color: #727272;
    text-align: center;
}





@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        height: 1080px;
        width: 100%;
        display: block;
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #111111;
    }

    .menu li {
        margin-bottom: 10px;
        padding: 30px;
    }

    .menu li a {
        color: #b3b3b3;
        text-decoration: none;
    }

    .menu .logo a img {
        width: 80px;
    }

    .content {
        display: none;
    }

    footer {
        display: none;
    }
}